<!DOCTYPE html>
<html>
<title>Aula Virtual Test</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>

<body id="myPage">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Work</a>
  <a href="#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Price</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Dropdown <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="#" class="w3-bar-item w3-button">Link</a>
      <a href="#" class="w3-bar-item w3-button">Link</a>
      <a href="#" class="w3-bar-item w3-button">Link</a>
    </div>
  </div>
	  {% if user.is_authenticated %}
		<a class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white">{{user.email}}</a>
		<form action="{% url 'logout' %}" method="POST">
			{% csrf_token %}
			<button type="submit" class="w3-right w3-bar-item w3-button w3-hide-small w3-hover-white">Salir</button>
		</form>
	  {% else %}
		<a href="{% url 'login'%}" class="w3-right w3-bar-item w3-button w3-hide-small w3-hover-white">Ingresar</a>
	  {% endif %}
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
	<a href="{% url 'home' %}" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#work" class="w3-bar-item w3-button">Work</a>
    <a href="#pricing" class="w3-bar-item w3-button">Price</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
	  {% if user.is_authenticated %}
		<a class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white">{{user.email}}</a>
		<form action="{% url 'logout' %}" method="POST">
			{% csrf_token %}
			<button type="submit" class="w3-right w3-bar-item w3-button w3-hide-small w3-hover-white">Salir</button>
		</form>
	  {% else %}
		<a href="{% url 'login'%}" class="w3-right w3-bar-item w3-button w3-hide-small w3-hover-white">Ingresar</a>
	  {% endif %}
    <a href="#" class="w3-bar-item w3-button">Search</a>
  </div>
</div>


<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity w3-teal">
  <img src="#" alt="boat" style="width:100%;min-height:100px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft">
  <h2>Añadir curso</h2>
  </div>
</div>


<div class="container">
  <form action="{% url 'add_curso' %}", method="POST">
	{% csrf_token %}
		{% for non_field_error in form.non_field_errors %}
		<p class="w3-text-red">{{ non_field_error }}</p>
		{% endfor %} 
    <div class="row">
      <div class="col-25">
        <label for="fname">Nombre del curso:</label>
      </div>
		{{form.name.errors}}
		{{form.name}}
    </div>
	
	<div class="row">
      <div class="col-25">
        <label for="fname">Código:</label>
      </div>
		{{form.code.errors}}
		{{form.code}}
    </div>
	
    <div class="w3-container w3-center w3-margin">
      <!-- <input type="submit" value="Submit"> -->
	  <button type="submit" class="w3-button w3-btn-btn w3-round w3-green">Listo</button>
    </div>
  </form>
  
</div>


<!-- Container -->
<!-- <div class="w3-container" style="position:relative"> -->
  <!-- <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal" -->
  <!-- style="position:absolute;top:-28px;right:24px">+</a> -->
<!-- </div> -->


<!-- Contact Container -->
<!-- <div class="w3-container w3-padding-64 w3-theme-l5" id="contact"> -->
  <!-- <div class="w3-row"> -->
    <!-- <div class="w3-col m5"> -->
    <!-- <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div> -->
      <!-- <h3>Address</h3> -->
      <!-- <p>Swing by for a cup of coffee, or whatever.</p> -->
      <!-- <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Chicago, US</p> -->
      <!-- <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +00 1515151515</p> -->
      <!-- <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  test@test.com</p> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>